<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Redressed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>JoinnUS | Login</title>
  </head>
  <body>
    <!-- NAVBAR START -->
    <div class="navbar">
      <div class="inner-nav">
        <h1 id="logo">
          <span class="tag">!</span>Joinn<span class="tag">US</span>.com
        </h1>
      </div>
    </div>
    <!-- NAVBAR END -->
    <main id="app">
      <div class="auth-container">
        <h1>Bienvenido de vuelta!</h1>
        <form action="/api/v1/auth/login" class="auth-form" method="POST">
          <div class="form-group">
            <label for="email">Email:</label>
            <input name="email" type="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input name="password" type="password" id="password" />
          </div>
          <div class="form-group">
            <button class="btn">Ingresar</button>
          </div>
          <span>
            No tienes una cuenta? <a href="/register">Registrate!</a>
          </span>
        </form>
      </div>
    </main>
    <footer>
      <p>
        &copy; 2022 Alejandro La Rosa. Check The Real
        <a href="https://www.joinnus.com/">JoinUS</a>
      </p>
    </footer>
  </body>
</html>
